# Ignore common folder types inside Research3
Research3/Temp/
Research3/Logs/
Research3/Obj/
Research3/Build/
Research3/Builds/
Research3/MemoryCaptures/
Research3/Library/
[Ll]ibrary/
Research3/UserSettings/

# Ignore common binary file types
*.dylib
*.so
*.dll
*.exe
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.tmp
*.unityproj
*.booproj
*.dwlt

# Ignore specific files with no extension
ArtifactDB
dsymutil
SourceAssetDB
